@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <br />
        <br />
        <br />

        <h2 class="welcome">Welcome to Somnath's E-kart</h2>
        <br />
        <br />
        <h1 class="text_content">I have created this e-commerce site to learn ASP.NET Core. Please send your suggestion to pandit_snp@yahoo.com</h1>
    </div>
