@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <br />
        <br />
        <br />

        <h2 class="welcome">Welcome to Somnath's E-kart</h2>
        <br />
        <br />
        <h1 class="text_content">I have created this shopping site to learn ASP.NET Core concepts and focused on implementation accordingly. I would be very happy if you please send your suggestions to pandit_snp@yahoo.com about ASP.NET core to improve my learning.</h1>
    </div>
